<!--
    Create by JetBrains IDEA
    User: Etertops
    Date: 2017/11/15
    Time: 9:20
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=0">
	<title>Vue 条件渲染</title>
	<script src="../js/vue.js"></script>
</head>
<body>
<div id="conditional001">
	<p v-if="ok">Yes</p>
	<p v-else>No</p>
	<button @click="toggleOk">toggle ok</button>
</div>
<br>
<div id="conditional002" v-if="ok">
	<h1>Title</h1>
	<p>Paragraph 1</p>
	<p>Paragraph 2</p>
</div>
<br>
<div id="conditional003">
	<div v-if="randomNumber > 0.5">
		Now you see me because random number = {{randomNumber}} > 0.5
	</div>
	<div v-else>
		Now you generate number = {{randomNumber}} <= 0.5
	</div>
	<button @click="random">Math.random</button>
</div>
<br>
<div id="conditional004">
	<div v-if="type === 'A'">
		type = {{type}}
	</div>
	<div v-else-if="type === 'B'">
		type = {{type}}
	</div>
	<div v-else-if="type === 'C'">
		type = {{type}}
	</div>
	<div v-else>
		Not A/B/C, and type = {{type}}
	</div>
	<button @click="generate">generate A,B,C,D</button>
</div>
<br>
<div id="conditional005">
	复用input组件
	<div v-if="loginType === 'username'">
		<label>Username</label>
		<input placeholder="Enter your username">
	</div>
	<div v-else>
		<label>Email</label>
		<input placeholder="Enter your email address">
	</div>
	<button @click="toggleLoginType">toggle login type</button>
</div>
<br>
<div id="conditional006">
	不 复用input组件
	<div  v-if="loginType === 'username'">
		<label>Username</label>
		<input placeholder="Enter your username" key="username-input">
	</div >
	<div  v-else>
		<label>Email</label>
		<input placeholder="Enter your email address" key="email-input">
	</div >
	<button @click="toggleLoginType">toggle login type</button>
</div>
<br>
<div id="conditional007">
	<div v-show="ok">Hello! show</div>
	<div v-if="ok">Hello! if</div>
	<button @click="toggleOk">toggle ok</button>
</div>
</body>
<script src="../js/vue05.js"></script>
</html>